#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.mainContainer {
  container-type: size;
  resize: both;
  overflow: auto;
  width: 200px;
  height: 300px;
  min-width: 280px;
  min-height: 280px;
  max-width: 750px;
  max-height: 500px;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2%;
  
  background-color: #999;
  border: 5px solid purple;  
  border-radius: 5px;   
}

/* .watchContainer {
  outline: 1px solid white;
  height: 62%;
  padding: 2em 1em;  
} */

.stopWatch {
  height: 100%;
  display: grid;
  grid-template-rows: minmax(0, 3fr) minmax(0, 1fr);
  gap: clamp(0.5rem, 2cqw, 1rem);
  padding: 1rem;

  box-sizing: border-box;
  border: 2px solid white;
}

.display {
  place-self: stretch center;
  aspect-ratio: 1 / 1;
  
  inline-size: min(100%, 100cqh);
  block-size: min(100%, 100cqw); 

  border-radius: 50%;
  overflow: hidden;  

  display: flex;
  flex-direction: column;
  
  background-color: white;
  outline: 1px solid red;
}

.shrink {
  height: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  font-size: clamp(1rem, 5cqw, 8rem);
  background-color: #888;
  outline: 1px solid purple;
  color: purple;
}

.focus {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(2rem, 12cqw, 12rem);
  font-weight: 600;
}

.buttonPad {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: clamp(0.5rem, 3cqw, 2rem);
  width: 100%;
  height: 100%;
  padding: 2%;
  outline: 1px solid purple;
}

.button {
  padding: 0;
  min-height: 2rem;
  min-width: 2rem;
  font-size: clamp(1rem, 4cqw, 6rem);
}

@container (min-aspect-ratio: 1.2 / 1) {
  .stopWatch {
    grid-template-rows: none;
    grid-template-columns: minmax(0, 3fr) minmax(0, 1fr);
  }
  .display {
    flex: 0 0 auto;
    width: auto;
    /* max-width: 80%; */
  }
  .buttonPad {
    flex: 1 1 auto;
    flex-direction: column;
    height: auto;
  }
}




.tableContainer {
  outline: 1px solid red;
  height: 38%;
  padding: 1em;
  display: none;
}



