#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.mainContainer {
  background-color: #999;
  border: 5px solid purple;
  border-radius: 5px;
  height: 75vh;
  width: 50vw;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.watchContainer {
  outline: 1px solid white;
  height: 62%;
  padding: 2em 1em;  
}

.stopWatch {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.display {
  background-color: white;
  outline: 1px solid red;
  height: 60%;
}

.buttonPad {
  outline: 1px solid purple;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 12vh;
}

.tableContainer {
  outline: 1px solid red;
  height: 38%;
  padding: 1em;
}



